<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="co.touchlab.EspressoTest"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk
            android:minSdkVersion="7"
            android:targetSdkVersion="18" />


    <application>
        <uses-library android:name="android.test.runner"/>
    </application>

    <!-- Espresso uses a custom InstrumentRunner that is build on top of the native android test runner
        Be sure to take note of this in the Run Configurations-->
    <instrumentation
            android:name="com.google.android.apps.common.testing.testrunner.GoogleInstrumentationTestRunner"
            android:targetPackage="co.touchlab.HitMeButton"
            android:label="Tests for co.touchlab.HitMeButton"/>
</manifest>
